.section{
  margin: 0 auto;
  width: 60rem;
}

h1{
  font-size: 1.75rem;
  font-weight: bold;
  padding: 1rem 0;
}

span{
  font-size: 1rem;
  color: grey;
}

h2{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 0;
}

.education{
  text-align: justify;
  font-size: 1.3rem;
  padding: 0.3rem 1rem;
}

a {
  color: green;
  text-decoration: none;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin: .5rem 0;
}

.article {
  text-align: justify;
  font-size: 1.1rem;
  background-color: #E7EAED;
  padding: 0.5rem 1rem;
  margin:1rem 0;
}

.title{
  font-size:1.3rem;
}

i{
  font-style: italic;
}

b{
  font-weight: bold;
}

.altmetric-embed, __dimensions_badge_embed__{
  float: left;
  margin-right: 1rem;
}

