.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

p{
    font-family:"Times New Roman", Times, serif;
    font-size:24px;
}

#article{
    font-family:italic, arial,sans-serif;
    font-size:18px;
    background-color:#E7EAED;
    padding: 0.2cm 0.4cm;
}
